<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <link href="thirdparty/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="thirdparty/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

  </head>

  <body>
    <img style="position: absolute; top: -3px; height: 40px; left: 0px;" class="pull-right img-responsive img-foot" src="/theme/app/img/print/logo-pastagem.png" />
    <span style="position:absolute; font-size: 15px; left: 120px; top: 15px; right: 200px; font-weight: bold; text-align: center; height: 25px; overflow: hidden;"><%= title %></span>

    <img src="<%= map %>" style="border: 1px solid gray; margin-right: 10px; position:absolute; top: 40px;" />

    <span style="position:absolute; border: 1px solid gray; padding: 5px 10px 5px 10px; top: 40px; left: 710px; height: 490px; overflow: hidden;">
      <h4 style = "font-color:gray; font-weight: bold; font-size: 15px">Legendas: </h4>
      <% for(var i=0; i<legends.length; i++) {%>
          <span style="padding-bottom:5px; font-size: 12px"><%= legends[i].label %></span>
        <p>
         <img src="<%= legends[i].url %>" />
        </p>
      <% } %>
    </span>

    <span style="top: 535px;left: 0px;position: absolute;font-size: 13px; font-style: italic; width:580px; height: 40px; overflow: hidden;"><%= description %></span>
    <img style="position: absolute; top: 535px; height: 40px; left: 598;" class="pull-right img-responsive img-foot" src="/theme/app/img/print/logo-parceiros.png" />
    
    <script src="thirdparty/jquery/jquery.min.js"></script>
	  <script src="thirdparty/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
