<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <link href="thirdparty/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="thirdparty/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="thirdparty/OpenLayers/theme/default/style.css" rel="stylesheet">

    <style>
        .olControlScaleLineTop {
          font-size: 9px;
        }
        .olControlScaleLineBottom {
          font-size: 9px;
        }
    </style>
  </head>

  <body>
    <!-- Mapa -->
    <div style="border: 1px solid silver; width: 680px; height: 620px; margin-top: 40px !important; margin-left: 1px !important; position: absolute; overflow: hidden; border-radius: 15px;" id="map"></div>

    <!-- Logos -->
    <img style="position: absolute; height: 40px; left: 1px; padding-bottom: 8px; top: 2px;" class="pull-right img-responsive img-foot" src="/theme/app/img/print/logo-pastagem.png" />
    <img style="position: absolute; height: 40px; left: 858px; padding-bottom: 8px; top: 2px;" class="pull-right img-responsive img-foot" src="/theme/app/img/print/logo-parceiros2.png" />

    <!-- Titulo -->
    <span style="position: absolute; font-size: 15px; left: 100px; top: 10px; font-weight: bold; width: 740px; text-align: center; height: 25px; overflow: hidden;"><%= title %></span>

    <!-- Lengendas-->
    <span style="position:absolute;border: 1px solid silver;padding: 5px 1px 431px 10px;display: block;width: 258px;height: 520px;top: 40px;left: 685px;overflow: hidden;border-top-right-radius: 15px;border-top-left-radius: 15px;">
      <h4 style = "font-color:gray; font-weight: bold; font-size: 13px; margin-bottom: 10px; margin-top: 0px;"><%= lang.LAPIGPRINT_TTLAREAMAP_LEGENDASMAP %>: </h4>
      <% for(var i=0; i<layers.length; i++) {%>
          <span style="padding-bottom:5px; font-size: 10px;"><%= layers[i].label %></span>
        <p>
         <img src="<%= layers[i].legendUrl %>" />
        </p>
      <% } %>
    </span>
    
    <!-- Escala -->
    <span style="position:absolute; margin-top: 570px; margin-left: 850px;">
      <div id="scale" style="height: 5px"></div>
    </span>

    <!-- Sub-Legendas -->
    <span style="position: absolute;border-left: 1px solid silver;padding: 3px 148px 50px 5px;display: block;top: 559px;left: 685px;overflow: hidden;width: 258px;height: 102px;border-right: 1px solid silver;border-bottom: 1px solid silver;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;">
        <!-- Imagem -->
        <img style="width: 51px;height: 45px;margin-top: 4px;margin-left: 21px;position: absolute;" src="theme/app/img/rosaDosVentos.png" >

        <!-- Projeçao -->
        <span style="position:absolute;margin-top: 43px;margin-left: 0px;">
          <h6 style="font-size: 10px"> Projeção: DATUM WGS84 </h6>
        </span>

        <!-- Fonte -->
        <span style="position:absolute;margin-top: 60px;margin-left: 0px; padding-right: 5px;"> 
          <h6 style="font-size: 10px"> Fontes: <%= fonte %> </h6>
        </span>
    </span>

    <!--  Ferramentas do Mapa -->
    <script src="thirdparty/OpenLayers/OpenLayers.js"></script>    
    <script src="thirdparty/jquery/jquery.min.js"></script>
	  <script src="thirdparty/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var lon = <%= lon %>;
        var lat = <%= lat %>;
        var zoom = <%= zoom %>;
        var map, layer;

        map = new OpenLayers.Map('map', {
          maxResolution: 75000,
          projection: new OpenLayers.Projection("EPSG:900913"),
          units: "m",
          allOverlays: true
        });
       
        <% for(var i=layers.length-1; i>=0; i--) {%>
          map.addLayer(new OpenLayers.Layer.WMS( "<%= layers[i].label %>",
                  "<%= layers[i].host %>", {
                    'layers': '<%= layers[i].layername %>',
                    'format': 'image/png',
                    'version': '1.1.1',
                    'transparent': 'true',
                    'msfilter': "<%- layers[i].filter %>"
                  },{
                    'isBaseLayer': false,
                    'tileSize': new OpenLayers.Size(512,512)
                  } 
          ));
        <% } %> 
        
        map.setCenter(new OpenLayers.LonLat(lon, lat), zoom);
        map.addControl(new OpenLayers.Control.Graticule({
          lineSymbolizer: {
            'strokeDashstyle': 'dot',
            'strokeLinecap': 'round',
            'strokeColor': 'gray',
            'strokeWidth': 1,
            'strokeOpacity': 1,
          },
          labelSymbolizer: {
            'fontSize': '10px'
          },
          numPoints: 2,
          labelled: true
        }));
        
    </script>
	</body>
</html>
